body {
    background-color: #eeeeee;
}

@media (max-width: 992px) {
    .container {
        width: 100% !important;
        max-width: none !important;
    }
}

.dropdown-toggle::after {
    content: none;
    display: none;
}

.gedf-card {
    margin-bottom: 2.77rem;
}
